node_modules
screenshots

**/allure-results
**/allure-report
**/allure
**/test-results

**/playwright-report

# Maven (cucumber-selenium)
**/target/
**/.idea/
**/.project
**/.classpath
**/.settings/
*.iml
